body {
    font-family: 'Roboto', sans-serif;
    background: #343a40;
    color: white;
}

#map {
    bottom: 0px;
    height: 100%;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: -1;
}

.sidebar-sticky {
    top: 0;
    height: 100vh;
    padding-top: 65px;
}